// only scss variables
$--colors: (
	"primary": (
		"base": #20bda0
	),
	"success": (
		"base": #35ba61
	),
	"warning": (
		"base": #d3b32d
	),
	"danger": (
		"base": #c14848
	),
	"error": (
		"base": #b71a1a
	),
	"info": (
		"base": #359fc4
	)
);

@forward "element-plus/theme-chalk/src/dark/var.scss" with (
	$colors: $--colors
);

html.dark {
	--zl-admin-layout-bg: #0a0a0a;
	--zl-page-bg: #141414;
	--zl-aside-footer-box-shadow: rgba(255, 255, 255, 0.12);
	--zl-footer-bar-bg: #141414;
	--zl-switch-bg: #000;
	--zl-switch-color: #e5eaf3;
	--zl-switch-color-active: #141414;
	--zl-scrollbar: rgba(144, 147, 153, 0.4);
	--zl-two-split-gutter-bg: #141414;
	--zl-two-split-gutter-bg-hover: #1d1e1f;
	--zl-collapse-bg: #141414;
	--zl-field-set-wrapper-bg: #141414;
	--zl-split-right-panel-bg: #141414;
	--zl-toml-preview-bg: #141414;
	--zl-toml-preview-code-bg: transparent;
	--zl-ai-dataset-bg: #141414;
	--zl-context-menu-box-shadow: rgba(255, 255, 255, 0.12);
	--zl-context-menu-item-bg: #141414;
	--zl-ai-dataset-upload-mask: rgba(255, 255, 255, 0.12);
	--zl-ai-dataset-upload-bg: #141414;
	--zl-dashboard-bg: #141414;
	--zl-about-page-bg: #141414;
	--zl-about-page-color: #fff;
	--zl-popover-form-item-color: #fff;
	--zl-popover-form-item-tips-color: #2cabe3;
	--zl-task-item-color: #fff;
}
