$--colors: (
	"primary": (
		"base": #20bda0
	),
	"success": (
		"base": #2cd07e
	),
	"warning": (
		"base": #f6c000
	),
	"danger": (
		"base": #ff4136
	),
	"error": (
		"base": #f8285a
	),
	"info": (
		"base": #2cabe3
	)
);

@forward "element-plus/theme-chalk/src/common/var.scss" with (
	$colors: $--colors
);

@use "./dark.scss";

html {
	--zl-admin-layout-bg: #f2f3f8;
	--zl-page-bg: #fff;
	--zl-aside-footer-box-shadow: rgba(0, 0, 0, 0.12);
	--zl-footer-bar-bg: #fff;
	--zl-complexity-setting-bg: #f0f0f0;
	--zl-complexity-setting-color: #606266;
	--zl-complexity-setting-color-active: #fff;
	--zl-scrollbar: rgba(144, 147, 153, 0.4);
	--zl-two-split-gutter-bg: #f2f3f8;
	--zl-two-split-gutter-bg-hover: #fff;
	--zl-collapse-bg: #fff;
	--zl-field-set-wrapper-bg: #fff;
	--zl-split-right-panel-bg: #fff;
	--zl-preview-switch-bg: #f0f0f0;
	--zl-preview-switch-color: #606266;
	--zl-preview-switch-color-active: #fff;
	--zl-toml-preview-bg: #fff;
	--zl-toml-preview-code-bg: transparent;
	--zl-ai-dataset-bg: #fff;
	--zl-context-menu-box-shadow: rgba(0, 0, 0, 0.2);
	--zl-context-menu-item-bg: #fff;
	--zl-ai-dataset-upload-mask: rgba(0, 0, 0, 0.3);
	--zl-ai-dataset-upload-bg: #fff;
	--zl-dashboard-bg: #fff;
	--zl-about-page-bg: #fff;
	--zl-about-page-color: #000;
	--zl-popover-form-item-color: #000;
	--zl-popover-form-item-tips-color: #888;
	--zl-task-item-color: #000;
}
