@use "../variables.scss" as *;

$--colors: (
	"primary": (
		"base": #20bda0
	),
	"success": (
		"base": #2cd07e
	),
	"warning": (
		"base": #f6c000
	),
	"danger": (
		"base": #ff4136
	),
	"error": (
		"base": #f8285a
	),
	"info": (
		"base": #2cabe3
	)
);

@forward "element-plus/theme-chalk/src/common/var.scss" with (
	$colors: $--colors,
	$card: (
		"padding": $padding
	)
);

@use "./dark.scss";

:root {
	--el-two-split-scrollbar: rgba(144, 147, 153, 0.4);
}
